<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styles.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <h1>
        <%=title %>
    </h1>
    <div class="container">
        <ul>
            <% for(i=0; i <items.length; i++) {%>
                <li class="title">
                    <%= items[i].name %>
                </li>
                <li>
                    <a href=/products/<%=items[i].id %>><img src="img/img1.png">
                    </a>
                </li>
                <%} %>
        </ul>
    </div>
    <h3>Add-Product</h3>
    <form action="/products" method="POST">
        <input type="text" name="newItem" id="newItem" />
        <button type="submit">Enviar</button>
    </form>
    <script>
        const txtNewItem = document.getElementById('newItem');
        txtNewItem.focus();
    </script>
</body>

</html>